.footer {
  margin: 2.5%;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 95%;
  background-color: lightGray;
  color: black;
  text-align: center;
  align-content: center;
  position: relative;
  bottom: 0%;
}
html,body {
  margin:0;
  padding:0;
  /* needed for container min-height */
  background: #DEDEDE;


  font-family:arial,sans-serif;
  font-size:small;
  color:#666;
}
/* .jumbotron{
opacity: 0.5;
} */
.parallax{
  background-image: url("Other Images/parallaxIMG.jpg");
  min-height: 500px;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hrWhite{
  border-color: white;
}
.parallaxFooter{
  background-color: grey;
  min-height: 100px;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
